@using MVC_Practice.Models.DbModels
@model IEnumerable<Department>
@{
    ViewBag.Title = "Departments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Departments</h2>

<div class="container-fluid">
    <div class="btn-group btn-group-justified">
        <div class="btn-group">
            <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#AddCollapse">Add</button>
        </div>
    </div>
    <br />
    <div class="container-fluid collapse" id="AddCollapse">
        <form method="post" action="/Departments/Add" name="AddForm" class="form-inline">
            <div class="row">

                <div class="form-group">
                    <input class="form-control" type="text" name="dname" placeholder="Department" required>
                </div>

                

                <div class="form-group">
                    <input type="submit" value="Add" class="btn btn-primary form-control" />
                </div>

            </div>
        </form>
    </div>
</div>

<br />

<table class="table">
    @DepartmentsHelpers.DepartmentsList(Model, false)
</table>