@*@using MVC_Practice.Models.DbModels*@
@using CourseworkBD.DAL.DbContext;
@using CourseworkBD.DAL.Models;

@model Department

@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Update</h2>

<form method="post" action="/Departments/Update" name="UpdateForm" class="form-inline">
    <div class="row">

        <div class="form-group">
            <input class="form-control" type="hidden" name="Id" value="@Model.Id" required>
        </div>

        <div class="form-group">
            <input class="form-control" type="text" name="Name" value="@Model.Name" placeholder="Department" required>
        </div>

        <div class="form-group">
            <input class="form-control" type="text" name="Address" value="@Model.Address" placeholder="Address" required />
        </div>

        <div class="form-group">
            <input type="submit" value="Update" class="btn btn-primary form-control" />
        </div>

    </div>
</form>
