@using MVC_Practice.Models.Identity;
@model ApplicationRole

@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Update</h2>

<form method="post" action="/Roles/Update" name="AddForm" class="form-inline">
    <div class="row">

        <div class="form-group">
            <input class="form-control" type="hidden" name="Id" value="@Model.Id" required>
        </div>

        <div class="form-group">
            <input class="form-control" type="text" name="Name" value="@Model.Name" required>
        </div>

        <div class="form-group">
            <input class="form-control" type="text" name="Description" value="@Model.Description" required>
        </div>

        <div class="form-group">
            <input type="submit" value="Update" class="btn btn-primary form-control" />
        </div>

    </div>
</form>