@*@using MVC_Practice.Models.DbModels*@
@using CourseworkBD.DAL.Models;
@model IEnumerable<StorageShipment>
@{
    ViewBag.Title = "Sendings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sendings</h2>

<table class="table">
    @SendingsHelpers.SendingList(Model, false)
</table>