@*@using MVC_Practice.Models.DbModels*@
@using CourseworkBD.DAL.Models;
@model Content
@{
    IEnumerable<Content> content = new List<Content>() { Model };
}
@{
    ViewBag.Title = "DeleteItem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete this item?</h2>

<table class="table">
    @PurchaseHelpers.ContentList(content, true)
</table>

<form method="post" action="/Purchase/DeleteItem" class="form-horizontal">
    <input type="hidden" name="id" value="@Model.Id" />
    <input type="submit" value="Delete" class="btn btn-danger" />
</form>