@using MVC_Practice.Models.DbModels
@model DeliveryOrder
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Update</h2>

@*supplier*@
<div class="container">
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post" action="/Purchase/AddSupplier" name="AddForm">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add supplier</h4>
                    </div>

                    <div class="modal-body">
                        <div class="form-group">
                            <input class="form-control" type="text" name="supplierName" placeholder="Name" required>
                        </div>

                        <div class="form-group">
                            <input class="form-control" type="tel" name="supplierPhoneNumber" placeholder="phone number" required>
                        </div>

                        <div class="form-group">
                            <input class="form-control" type="email" name="supplierEmail" placeholder="emain" required>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="form-group">
                            <input type="submit" value="Add" class="btn btn-primary form-control" />
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<form method="post" action="/Purchase/Update" name="UpdateForm" class="form-inline">
    <div class="row">

        <input type="hidden" name="deliveryOrderID" value="@Model.deliveryOrderID"  required/>

        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">New supplier</button>

        <div class="checkbox">
            @Html.DropDownList("supplierID", ViewBag.suppliers as SelectList, new { @class = "form-control" })
        </div>

        <div class="form-group">
            <input class="form-control" type="datetime" name="deliveryOrderDate" value="@Model.deliveryOrderDate" required>
        </div>

        <input type="hidden" name="sumPrice" value="@Model.sumPrice" required />

        <div class="form-group">
            <input type="submit" value="Update" class="btn btn-primary form-control" />
        </div>

    </div>
</form>