@using MVC_Practice.Models
@model EmployeeOrder
@{
    IEnumerable<EmployeeOrder> order = new List<EmployeeOrder>() { Model };
}
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete this order?</h2>

<table class="table">
    @EmployeeOrderHelpers.EmployeeOrdersList(order, true)
</table>

<form method="post" action="/EmployeeOrders/Delete" class="form-horizontal">
    <input type="hidden" name="id" value="@Model.orderID" />
    <input type="submit" value="Delete" class="btn btn-danger" />
</form>