@using MVC_Practice.Models.DbModels
@model EmployeeOrder

@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Order</h2>

@EmployeeOrderHelpers.DetailedEmployeeOrder(Model)

<div class="container-fluid">
    <form class="form-inline" method="get" action="/EmployeeOrders/Index">
        <input type="button" value="OK" class="btn btn-primary" onclick="location.href='@Request.UrlReferrer'"/>
    </form>
</div>