@*@using MVC_Practice.Models.DbModels*@
@using CourseworkBD.DAL.Models;
@model OrderType
@{
    IEnumerable<OrderType> types = new List<OrderType>() { Model };
}
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete this order type?</h2>

<table class="table">
    @OrderTypesHelpers.OrderTypesList(types, true)
</table>

<form method="post" action="/OrderTypes/Delete" class="form-horizontal">
    <input type="hidden" name="id" value="@Model.orderTypeID" />
    <input type="submit" value="Delete" class="btn btn-danger" />
</form>