@*@using MVC_Practice.Models.DbModels*@
@using CourseworkBD.DAL.Models;
@model ShipmentToStorage
@{
    IEnumerable<ShipmentToStorage> shipment = new List<ShipmentToStorage>() { Model };
}
@{
    ViewBag.Title = "OpenShipmentToStorage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Shipment</h2>

<div id="docHTML">
    <h2 style="text-align:center">Material shipment act</h2>
    @ShipmentHelpers.ShipmentToStorageDetailes(Model)
    <h4 style="text-align:right">User: @User.Identity.Name</h4>
    <h5 style="text-align:right">Role: Storage man</h5>
</div>

@PdfHelper.PdfForm("docHTML")

<br />

<div class="container">
    <a type="button" class="btn btn-primary" href="~/Shipment/ShipmentToStorages">Back</a>
</div>