@using MVC_Practice.Models.DbModels

@helper DepartmentsList(IEnumerable<Department> Model, bool IsReadonly)
{
    <tr>
        <th>Position</th>
        
        @if (!IsReadonly)
        {
            <th></th>
            <th></th>
        }
    </tr>
    foreach (var item in Model)
    {
        <tr>
            <td>@item.dname</td>
            

            @if (!IsReadonly)
            {
                <td>
                    <form class="form-inline" method="get" action="/Departments/Delete">
                        <input type="hidden" value="@item.departmentID" name="id" />
                        <input type="submit" value="Delete" class="btn btn-danger" />
                    </form>
                </td>
                <td>
                    <form class="form-inline" method="get" action="/Departments/Update">
                        <input type="hidden" value="@item.departmentID" name="id" />
                        <input type="submit" value="Update" class="btn btn-warning" />
                    </form>
                </td>
            }
        </tr>
    }
}
