@using MVC_Practice.Models.DbModels

@helper PositionsList(IEnumerable<Position> Model, bool IsReadonly)
{
    <tr>
        <th>Position</th>
        <th>Salary</th>
        @if (!IsReadonly)
        {
            <th></th>
            <th></th>
        }
    </tr>
    foreach (var item in Model)
    {
        <tr>
            <td>@item.positionName</td>
            <td>@item.salary</td>

            @if (!IsReadonly)
            {
                <td>
                    <form class="form-inline" method="get" action="/Positions/Delete">
                        <input type="hidden" value="@item.positionID" name="id" />
                        <input type="submit" value="Delete" class="btn btn-danger" />
                    </form>
                </td>
                <td>
                    <form class="form-inline" method="get" action="/Positions/Update">
                        <input type="hidden" value="@item.positionID" name="id" />
                        <input type="submit" value="Update" class="btn btn-warning" />
                    </form>
                </td>
            }
        </tr>
    }
}