@using MVC_Practice.Models.Identity;

@helper RolesList(IQueryable<ApplicationRole> Model, bool IsReadonly)
{
    <tr>
        <th>Role</th>
        <th>Description</th>
        @if (!IsReadonly)
        {
            <th></th>
            <th></th>
        }
    </tr>
    foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Description</td>

            @if (!IsReadonly)
            {
                <td>
                    <form class="form-inline" method="get" action="/Roles/Delete">
                        <input type="hidden" value="@item.Id" name="id" />
                        <input type="submit" value="Delete" class="btn btn-danger" />
                    </form>
                </td>
                <td>
                    <form class="form-inline" method="get" action="/Roles/Update">
                        <input type="hidden" value="@item.Id" name="id" />
                        <input type="submit" value="Update" class="btn btn-warning" />
                    </form>
                </td>
            }
        </tr>
    }
}
