@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Main page</h1>
    <div class="row">
        <p><a href="~/Employees/Index" class="btn btn-primary btn-lg">Employees</a></p>
        <p><a href="~/EmployeeOrders/Index" class="btn btn-primary btn-lg">Employee orders</a></p>
        <p><a href="~/Positions/Index" class="btn btn-primary btn-lg">Positions</a></p>
        <p><a href="~/Departments/Index" class="btn btn-primary btn-lg">Departments</a></p>
        <p><a href="~/OrderTypes/Index" class="btn btn-primary btn-lg">Order types</a></p>
        <p><a href="~/Roles/Index" class="btn btn-primary btn-lg">Roles (admin)</a></p>
    </div>
</div>


