@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Main page</h1>
    <div class="row">
        <p><a href="~/Employees/Index" class="btn btn-primary btn-lg">Employees</a></p>
    </div>
</div>

<div class="row">
    
</div>