
@{
    ViewBag.Title = "StorageMan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="jumbotron">
        <h2>Welcome @User.Identity.Name</h2>
        <p>
            You authorized as storage man
        </p>
    </div>
</div>

<div class="container">
    <a href="~/Purchase/Index" class="btn btn-primary btn-lg btn-block">Purchases</a>
</div>